# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Model files
*.pth
*.pt
*.ckpt

# Data (raw datasets should not go to GitHub)
data/raw/usgs/*
data/raw/enmap/*
data/raw/magnetic/*
data/raw/gravity/*
data/raw/geology/*

# Keep folder structure
!data/raw/usgs/.gitkeep
!data/raw/enmap/.gitkeep
!data/raw/magnetic/.gitkeep
!data/raw/gravity/.gitkeep
!data/raw/geology/.gitkeep

# Outputs
outputs/figures/*
outputs/maps/*
outputs/reports/*
outputs/predictions/*

# Keep folder structure
!outputs/figures/.gitkeep
!outputs/maps/.gitkeep
!outputs/reports/.gitkeep
!outputs/predictions/.gitkeep

# Streamlit secrets
.streamlit/secrets.toml